body{
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5; spaces between lines */
    font: 1.3em/1.5 'Play', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/* Global */
.container{ /* class */
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
.button1{
    height: 38px;
    background: #F18F01;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.dark{
    padding: 15px;
    background: #222222;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */
header{
    background: #222222;
    color: #ffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: turquoise 3px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
}
header li{
    float: left;
    display: inline;
    padding:  0 20px 0 20px; /* Top Right Bottom Left */
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color:#F18F01;
    font-weight: bold;
}
header a:hover{
    color: #FFFFFF;
    font-weight: bold;
}
/* Showcase */
#showcase{
    min-height: 400px;
    background: url('./img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color:white;
}
#showcase h1{
    margin-top: 100px;
    font-size: 2.5em;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 1em;
}
/* Newsletter*/
#newsletter{
    padding: 15px;
    color: white;
    background: #222222;
}
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 20px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes */
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
#boxes .box img{
    width: 90px;
}
/* Sidebar */
aside#sidebar{
    float: right;
    width: 32%;
    margin-top: 10px;
}
aside#sidebar .quote input, aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}
/* Main-col*/
article#main-col{
    float: left;
    width: 65%;
    text-align: justify;
    text-justify: inter-word;
}
/* Services */
ul#services li{
    list-style: none;
    padding: 20px;
    border: white solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #F18F01;
    text-align: center;
}

/* Media Queries  RESPONSIVE TO MOBILE DEVICES */
@media(max-width: 768px){
    header #branding, header nav, header nav li, #newsletter h1, #newsletter form, boxes .box, article#main-col, aside#sidebar{
        float:none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }
    #newsletter form input[type="email"], .quote input, .quote textarea{
        width:100%;
        margin-bottom: 5px;
    }
}